@model IEnumerable<FasTnT.Web.Models.Users.ApiUserViewModel>

<table class="data-table">
    <thead>
        <tr>
            <th>@Resources.Grid_UserName</th>
            <th>@Resources.Grid_Role</th>
            <th>@Resources.Grid_IsActive</th>
            <th>@Resources.Grid_LastLogon</th>
            <th>@Resources.Grid_SubscriptionCount</th>
            <th>@Resources.Grid_Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@Html.LocalizeGrid(user.Type)</td>
                <td class="centered">@Html.LocalizeGrid(user.IsActive.ToString())</td>
                <td>@(user.LastLogon?.ToString(Resources.DateFormat_Detailed))</td>
                <td>@user.SubscriptionCount</td>
                <td><a href="~/Users/Details/@user.Id"><i class="material-icons">link</i></a></td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="5">@string.Format(Html.LocalizeFormat("DisplayingXOutOfNItems"), Model.Count(), Model.Count())</th>
        </tr>
    </tfoot>
</table>
