@model FasTnT.Web.Models.Users.ApiUserDetailViewModel
@{
    ViewBag.Title = @Resources.Label_ApiUsers;
}

<h1>@string.Format(Resources.Label_DetailsApiUser, Model.Id.ToString().Substring(0,8))</h1>

<ul class="detail">
    <li><strong>@Resources.Label_UserName</strong> @Model.Name</li>
    <li><strong>@Resources.Label_IsActive</strong> @Model.IsActive</li>
    <li><strong>@Resources.Label_LatestActivity</strong> @if (Model.LastLogon.HasValue)
    {
        string.Format(Resources.DateFormat_Detailed, Model.LastLogon);
    }</li>
    <li><strong>@Resources.Label_Subscriptions</strong> @Model.Subscriptions.Count
        <ul>
            @foreach(var subscription in Model.Subscriptions)
            {
                <li><strong>@subscription.Name</strong>: @subscription.QueryName</li>
            }
        </ul>
    </li>
</ul>

<div class="links">
    @Html.ActionLink(Resources.Label_Edit, "Edit", new { id = Model.Id })
</div>