@using FasTnT.Web.Helpers
@using FasTnT.Domain.Utils
@using FasTnT.Web.Internationalization

@{ 
    var userName = HttpContext.Current.User.Identity.Name;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Resources.ApplicationName</title>

    <link rel="icon" href="~/Content/images/icon.ico" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/insite_css")

    @Scripts.Render("~/Scripts/constants")
    <script type="text/javascript">
        constants.loadingDefault = "@Resources.Label_Loading";
        constants.errorDefault = "@Resources.Label_Error";
    </script>
</head>
<body>
    <aside>
        <h2 id="logo">@Resources.ApplicationName</h2>
        <nav>
            <a href="~/Dashboard">@Resources.Menu_Dashboard</a>
            <a href="~/Events">@Resources.Menu_Events</a>
            <a href="~/MasterData">@Resources.Menu_MasterData</a>
            <a href="~/Users/List">@Resources.Menu_ApiUserManagement</a>
            <a href="~/EpcisServer">@Resources.Menu_EpcisServer</a>
        </nav>
    </aside>
    <div id="main-section">
        <nav>
            <ul>
                <li class="search"><input type="text" id="search_input" placeholder="@Resources.Label_Search" /><button id="search_btn">GO</button> </li>
                <li><a href="~/Account/Edit">@userName</a></li>
                <li><a href="~/Account/LogOff">@Resources.Menu_Exit</a></li>
            </ul>
        </nav>
        <section>
            @RenderBody()
        </section>
        <footer>
            <p>@Resources.ApplicationName v@(Html.AssemblyVersion(2)) - @string.Format(Resources.Format_Copyright, @SystemContext.Clock.Now.Year) <a class="grey-text text-lighten-4 right" href="https://github.com/louisaxel-ambroise/epcis" target="_blank">Github</a> </p>
            <p>
                <a class="language" href="~/Home/SetLanguage?language=en&redirectTo=@Request.Url.AbsolutePath"><img src="~/Content/images/flag_EN.jpg" alt="EN" /></a>
                <a class="language" href="~/Home/SetLanguage?language=fr&redirectTo=@Request.Url.AbsolutePath"><img src="~/Content/images/flag_FR.jpg" alt="FR" /></a>
            </p>
        </footer>
    </div>
    @Scripts.Render("~/Scripts/fastnt")
</body>
</html>
