@model FasTnT.Web.Models.Events.EventDetailViewModel

<h2>@string.Format(Resources.Format_DetailsOfEvent, Model.Id.ToString().Substring(0, 8))</h2>

<ul>
    <li><strong>Id:</strong> @Model.Id</li>
    <li><strong>Captured On:</strong> @Model.CapturedOn.ToString(Resources.DateFormat_Detailed)</li>
    <li><strong>Event Time:</strong> @Model.EventTime.ToString(Resources.DateFormat_Detailed) @Model.EventTimeZoneOffset</li>
</ul>
