@using FasTnT.Web.Helpers
@model IEnumerable<FasTnT.Web.Models.Logs.AuditLogSummary>

@{
    ViewBag.Title = Resources.Menu_Dashboard;
}

<h1>@Resources.Menu_Dashboard</h1>
    
<table class="data-table">
    <thead>
        <tr>
            <th>@Resources.Grid_Date</th>
            <th>@Resources.Grid_User</th>
            <th>@Resources.Grid_Action</th>
            <th>@Resources.Grid_Description</th>
            <th>@Resources.Grid_Status</th>
            <th>@Resources.Grid_Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model)
        {
            <tr>
                <td>@log.Timestamp.ToString(Resources.DateFormat_Detailed)</td>
                <td><a href="#!">@log.UserName</a></td>
                <td>@Html.LocalizeLabel(@log.Action)</td>
                <td>@Html.LocalizeFormat(@log.Description)</td>
                <td>
                    @if (!string.IsNullOrEmpty(log.Status))
                    {
                        <i class="material-icons" style="color:#af2401;">@log.Status</i>
                    }
                </td>
                <td><a href="#!"><i class="material-icons">link</i></a></td>
            </tr>
        }
    </tbody>
</table>
<p class="right">@string.Format(Resources.Format_DisplayingXOutOfNItems, Model.Count(), Model.Count())</p>