@using FasTnT.Web.Helpers
@model FasTnT.Web.Models.Logs.DashboardSummaryViewModel

@{
    ViewBag.Title = Resources.Menu_Dashboard;
}

<h1>@Resources.Menu_Dashboard</h1>
    
<table class="data-table">
    <thead>
        <tr>
            <th>@Resources.Grid_Date</th>
            <th>@Resources.Grid_User</th>
            <th>@Resources.Grid_Action</th>
            <th>@Resources.Grid_Description</th>
            <th>@Resources.Grid_Status</th>
            <th>@Resources.Grid_Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model.Logs)
        {
            <tr>
                <td>@log.Timestamp.ToString(Resources.DateFormat_Detailed)</td>
                <td>
                    @if (log.UserId != null)
                    {
                        @Html.ActionLink(log.UserName, "Details", "Users", new { id = log.UserId }, null)
                    }
                </td>
                <td>@Html.LocalizeLabel(@log.Action)</td>
                <td>@string.Format(Html.LocalizeFormat(log.Description), log.ExecutionTimeMs)</td>
                <td>
                    @if (!string.IsNullOrEmpty(log.Status))
                    {
                        <i class="material-icons" style="color:#af2401;">@log.Status</i>
                    }
                </td>
                <td><a href="#!"><i class="material-icons">link</i></a></td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="6">@string.Format(Resources.Format_DisplayingXOutOfNItems, Model.Logs.Count(), Model.TotalLogs)</th>
        </tr>
    </tfoot>
</table>
