@using FasTnT.Web.Helpers

@{
    ViewBag.Title = Resources.Menu_Dashboard;
}

<h1>@Resources.Menu_Dashboard</h1>
    
<table class="data-table">
    <thead>
        <tr>
            <th>@Resources.Grid_Date</th>
            <th>@Resources.Grid_User</th>
            <th>@Resources.Grid_Action</th>
            <th>@Resources.Grid_Description</th>
            <th>@Resources.Grid_Status</th>
            <th>@Resources.Grid_Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>05-09-2017 08:15</td>
            <td><a href="#!">rp_2105</a></td>
            <td>@Html.LocalizeLabel("Capture")</td>
            <td>@string.Format(Html.LocalizeFormat("QuerySucceedTooLong"), 15)</td>
            <td><i class="material-icons" style="color:#af2401;">timer</i></td>
            <td><a href="#!"><i class="material-icons">link</i></a></td>
        </tr>
        <tr>
            <td>05-09-2017 09:34</td>
            <td><a href="#!">John Smith</a></td>
            <td>@Html.LocalizeLabel("Query")</td>
            <td>@string.Format(Html.LocalizeFormat("QueryFailedWithReason"), Html.LocalizeLabel("QueryTooComplex"))</td>
            <td><i class="material-icons" style="color:#af2401;">error</i></td>
            <td><a href="#!"><i class="material-icons">link</i></a></td>
        </tr>
        <tr>
            <td>05-09-2017 14:18</td>
            <td></td>
            <td>@Html.LocalizeLabel("Capture")</td>
            <td>@Html.LocalizeLabel("CaptureEventFailed")</td>
            <td><i class="material-icons" style="color:#af2401;">error</i></td>
            <td><a href="#!"><i class="material-icons">link</i></a></td>
        </tr>
        <tr>
            <td>05-09-2017 16:21</td>
            <td><a href="#!">John Smith</a></td>
            <td>@Html.LocalizeLabel("Query")</td>
            <td>@string.Format(Html.LocalizeFormat("QuerySucceedTooLong"), 10)</td>
            <td><i class="material-icons" style="color:#af2401;">timer</i></td>
            <td><a href="#!"><i class="material-icons">link</i></a></td>
        </tr>
        <tr>
            <td>05-09-2017 20:41</td>
            <td></td>
            <td>@Html.LocalizeLabel("Subscription")</td>
            <td>@string.Format(Html.LocalizeFormat("SubscriptionCallbackFailed"), 500)</td>
            <td><i class="material-icons" style="color:#af2401;">error</i></td>
            <td><a href="#!"><i class="material-icons">link</i></a></td>
        </tr>
    </tbody>
</table>
<p class="right">@string.Format(Resources.Format_DisplayingXOutOfNItems, 5, 253)</p>