@model FasTnT.Web.Models.Users.UserDetailsViewModel

@{
    ViewBag.Title = Resources.Label_MyAccount;
    var userName = HttpContext.Current.User.Identity.Name;
}

<h1>@Resources.Label_MyAccount - @userName</h1>


<div class="row">
    <h3>@Resources.Label_ChangePassword</h3>
    <form class="col m12">
        <div class="form-group">
            <label for="previous">@Resources.Form_PreviousPassword</label>
            <input type="password" name="previous" id="previous" />
        </div>
        <div class="form-group">
            <label for="newPassword">@Resources.Form_NewPassword</label>
            <input type="password" name="newPassword" id="newPassword" />
        </div>
        <div class="form-group">
            <label for="newValidation">@Resources.Form_ConfirmNewPassword</label>
            <input type="password" name="newValidation" id="newValidation" />
        </div>

        <input type="submit" value="@Resources.Form_Submit" />
    </form>
</div>