@model FasTnT.Web.Models.Account.AuthenticationModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>@Resources.Label_Login - @Resources.ApplicationName</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="~/Content/images/icon.ico" />

    @Styles.Render("~/Content/logon_css")
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
    <body>
        <h1>FasT&amp;T</h1>
        <div id="logon">
            @if (!string.IsNullOrEmpty(Model.AuthenticationError))
            {
                <p class="error">@Html.LocalizeLabel(Model.AuthenticationError)</p>
            }
            <form method="post" action="@Url.Content("~/Account/LogOn")">
                @Html.AntiForgeryToken()
                <div class="input">
                    <label for="username">@Resources.Label_EnterYourEmail</label>
                    @Html.TextBoxFor(x => x.UserName, new { id = "email", type = "email", name = "email" })
                </div>
                <div class="input">
                    <label for="password">@Resources.Label_EnterYourPassword</label>
                    @Html.PasswordFor(x => x.Password, new { id = "password", name = "password" })
                </div>
                <div class="buttons">
                    <input type="submit" value="@Resources.Label_Login" />
                </div>
            </form>
        </div>
        <footer>
            <p>@Resources.ApplicationName v@(Html.AssemblyVersion(2)) - @string.Format(Resources.Format_Copyright, @DateTime.Now.Year)</p>
            <p>
                <a class="language" href="~/Account/SetLanguage?language=en&redirectTo=@Request.Url.AbsolutePath"><img src="~/Content/images/flag_EN.jpg" alt="EN" /></a>
                <a class="language" href="~/Account/SetLanguage?language=fr&redirectTo=@Request.Url.AbsolutePath"><img src="~/Content/images/flag_FR.jpg" alt="FR" /></a>
            </p>
        </footer>
    </body>
</html>