@model FasTnT.Web.Models.Account.AuthenticationModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>@Resources.Label_Login - @Resources.ApplicationName</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="~/Content/images/icon.ico" />

    @Styles.Render("~/Content/logon_css")
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
    <body>
        <h1 class="centered">FasT&amp;T</h1>
        <h2 class="centered">@Resources.EpcisRepository</h2>
        @if (Model.Locked)
        {
            <div id="logon">
                @if (!string.IsNullOrEmpty(Model.AuthenticationError))
                {
                    <p class="error">@Html.LocalizeLabel(Model.AuthenticationError)</p>
                }
                <form method="post" action="@Url.Content("~/Account/LogOn")?returnUrl=@ViewBag.ReturnUrl">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(x => x.UserName, new { id = "username", name = "username" })
                    <div class="input">
                        <p>@Html.Raw(string.Format(Html.LocalizeFormat("WelcomeBackUser"), $"<strong>{Model.UserName}</strong>"))<br />
                        @Resources.Label_WeLockedYourSession<br />
                        @Html.ActionLink(Resources.Label_NotYou, "LogOff")</p>
                    </div>
                    
                    <div class="input">
                        <label for="password">@Resources.Label_EnterYourPassword</label>
                        @Html.PasswordFor(x => x.Password, new { id = "password", name = "password" })
                    </div>
                    <div class="buttons">
                        <input type="submit" value="@Resources.Label_Unlock" />
                    </div>
                </form>
            </div>
        }
        else
        {
            <div id="logon">
                @if (!string.IsNullOrEmpty(Model.AuthenticationError))
                {
                    <p class="error">@Html.LocalizeLabel(Model.AuthenticationError)</p>
                }
                <form method="post" action="@Url.Content("~/Account/LogOn")?returnUrl=@ViewBag.ReturnUrl">
                    @Html.AntiForgeryToken()
                    <div class="input">
                        <label for="username">@Resources.Label_EnterYourUsername</label>
                        @Html.TextBoxFor(x => x.UserName, new { id = "username", name = "username" })
                    </div>
                    <div class="input">
                        <label for="password">@Resources.Label_EnterYourPassword</label>
                        @Html.PasswordFor(x => x.Password, new { id = "password", name = "password" })
                    </div>
                    <div class="buttons">
                        <input type="submit" value="@Resources.Label_Login" />
                    </div>
                </form>
            </div>
        }
        <footer>
            <p>@Resources.ApplicationName v@(Html.AssemblyVersion(2)) - @string.Format(Resources.Format_Copyright, @DateTime.Now.Year)</p>
            <p>
                <a class="language" href="~/Home/SetLanguage?language=en&redirectTo=@Request.Url.AbsolutePath"><img src="~/Content/images/flag_EN.jpg" alt="EN" /></a>
                <a class="language" href="~/Home/SetLanguage?language=fr&redirectTo=@Request.Url.AbsolutePath"><img src="~/Content/images/flag_FR.jpg" alt="FR" /></a>
            </p>
        </footer>
    </body>
</html>